### Import all Dependencies

In [1]:
import pandas as pd
import numpy as np
import ast

### Add CSV Files
#### -'tmdb_5000_movies.csv'
#### -'tmdb_5000_credits.csv'

In [2]:
movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

In [3]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [4]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

# Concatinate both CSV Files into One . . .

In [5]:
movies = movies.merge(credits, on='title')

In [6]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [7]:
movies.shape

(4809, 23)

In [8]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  movie_id              4809 non-null   int64
 21  cast                  4809 non-null   object
 22  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 901.7+ KB

### Keep all those columns which are useful for analysis!

In [9]:
#Which Column do we need ðŸ¤”?
#- Genres
#- Id
#- Keywords
#- Title
#- Overview
#- Cast
#- Crew

In [10]:
movies = movies[['genres', 'id', 'keywords', 'overview', 'title', 'cast', 'crew']]

In [11]:
movies.head(1)

,genres,id,keywords,overview,title,cast,crew
0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","In the 22nd century, a paraplegic Marine is di...",Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [137]:
movies.shape

(4806, 8)

In [12]:
movies.isnull().sum()

genres      0
id          0
keywords    0
overview    3
title       0
cast        0
crew        0
dtype: int64

In [13]:
movies.dropna(inplace=True)

In [14]:
movies.duplicated().sum()

0

### Converting All Columns From Dictionary to List
### 1. Genres

In [15]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [16]:
# Convert genres from dictionary to list
def convert(obj):
    L = []
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [17]:
movies['genres'] = movies['genres'].apply(convert)

In [18]:
movies.head(1)

,genres,id,keywords,overview,title,cast,crew
0,"[Action, Adventure, Fantasy, Science Fiction]",19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","In the 22nd century, a paraplegic Marine is di...",Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

### 2. Keywords

In [19]:
movies.iloc[2].keywords

'[{"id": 470, "name": "spy"}, {"id": 818, "name": "based on novel"}, {"id": 4289, "name": "secret agent"}, {"id": 9663, "name": "sequel"}, {"id": 14555, "name": "mi6"}, {"id": 156095, "name": "british secret service"}, {"id": 158431, "name": "united kingdom"}]'

In [20]:
movies['keywords'] = movies['keywords'].apply(convert)

In [21]:
movies.head(1)

,genres,id,keywords,overview,title,cast,crew
0,"[Action, Adventure, Fantasy, Science Fiction]",19995,"[culture clash, future, space war, space colon...","In the 22nd century, a paraplegic Marine is di...",Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

### 3. Cast

In [22]:
def convert_cast(obj):
    L = []
    counter = 0
    for i in ast.literal_eval(obj):
        if counter !=3:
            L.append(i['name'])
            counter += 1
        else:
            break
    return L

In [23]:
movies['cast'] = movies['cast'].apply(convert_cast)

In [24]:
movies.head(1)

,genres,id,keywords,overview,title,cast,crew
0,"[Action, Adventure, Fantasy, Science Fiction]",19995,"[culture clash, future, space war, space colon...","In the 22nd century, a paraplegic Marine is di...",Avatar,"[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [25]:
def fetch_dicrector(val):
    L = []
    for i in ast.literal_eval(val):
        if i['job'] == 'Director':
            L.append(i['name'])
            break
    return L

In [26]:
# Fecting Director Name from The Crew
movies['crew'] = movies['crew'].apply(fetch_dicrector)

In [27]:
movies.head(1)

,genres,id,keywords,overview,title,cast,crew
0,"[Action, Adventure, Fantasy, Science Fiction]",19995,"[culture clash, future, space war, space colon...","In the 22nd century, a paraplegic Marine is di...",Avatar,"[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]

### 4. Overview

In [28]:
# Converting Into List from String :
movies['overview'] = movies['overview'].apply(lambda x:x.split())

In [29]:
movies.head(1)

,genres,id,keywords,overview,title,cast,crew
0,"[Action, Adventure, Fantasy, Science Fiction]",19995,"[culture clash, future, space war, space colon...","[In, the, 22nd, century,, a, paraplegic, Marin...",Avatar,"[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]

### Removing All Spaces from these columns
- By Removing The Spaces, it would be more helpful when the system is finding movie but not getting the exact output...
- In That Situation Removing Space is very helpful to find the movie's tags!

In [30]:
movies['genres'] = movies['genres'].apply(lambda x:[i.replace(" ", "") for i in x])
movies['keywords'] = movies['keywords'].apply(lambda x:[i.replace(" ", "") for i in x])
movies['cast'] = movies['cast'].apply(lambda x:[i.replace(" ", "") for i in x])
movies['crew'] = movies['crew'].apply(lambda x:[i.replace(" ", "") for i in x])

In [31]:
movies.head(1)

,genres,id,keywords,overview,title,cast,crew
0,"[Action, Adventure, Fantasy, ScienceFiction]",19995,"[cultureclash, future, spacewar, spacecolony, ...","[In, the, 22nd, century,, a, paraplegic, Marin...",Avatar,"[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]

### Creating New DataFrame & Removing Remaining Columns

In [32]:
movies['tag'] = movies['overview'] + movies['genres'] + movies['cast'] + movies['crew']

In [33]:
movies.head(1)

,genres,id,keywords,overview,title,cast,crew,tag
0,"[Action, Adventure, Fantasy, ScienceFiction]",19995,"[cultureclash, future, spacewar, spacecolony, ...","[In, the, 22nd, century,, a, paraplegic, Marin...",Avatar,"[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."

In [35]:
new_df = movies[['id', 'title', 'tag']]

In [40]:
# Change Tag from List to String!
new_df['tag'] = new_df['tag'].apply(lambda x:" ".join(x))

C:\Users\surya\AppData\Local\Temp/ipykernel_4012/56238759.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tag'] = new_df['tag'].apply(lambda x:" ".join(x))

In [41]:
new_df.head()

,id,title,tag
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bondâ€™s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

In [44]:
# Make Tags into Lowercase
new_df['tag'] = new_df['tag'].apply(lambda x:x.lower())

C:\Users\surya\AppData\Local\Temp/ipykernel_4012/2007910017.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tag'] = new_df['tag'].apply(lambda x:x.lower())

### The New DataFram [New_DF]

In [45]:
new_df.head()

,id,title,tag
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha..."
2,206647,Spectre,a cryptic message from bondâ€™s past sends him o...
3,49026,The Dark Knight Rises,following the death of district attorney harve...
4,49529,John Carter,"john carter is a war-weary, former military ca..."

In [46]:
new_df['tag'][0]

'in the 22nd century, a paraplegic marine is dispatched to the moon pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. action adventure fantasy sciencefiction samworthington zoesaldana sigourneyweaver jamescameron'

In [47]:
new_df['tag'][1]

'captain barbossa, long believed to be dead, has come back to life and is headed to the edge of the earth with will turner and elizabeth swann. but nothing is quite as it seems. adventure fantasy action johnnydepp orlandobloom keiraknightley goreverbinski'

### Removing Duplicate Words and Plural Words from the 'Tags'

In [60]:
import nltk

In [61]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [69]:
def stemmer(text):
    y = []
    for i in text.split():
        y.append(ps.stem(i))
    
    return " ".join(y)

In [70]:
new_df['tag'] = new_df['tag'].apply(stemmer)

C:\Users\surya\AppData\Local\Temp/ipykernel_4012/3001687473.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tag'] = new_df['tag'].apply(stemmer)

In [71]:
new_df['tag'][0]

'in the 22nd century, a parapleg marin is dispatch to the moon pandora on a uniqu mission, but becom torn between follow order and protect an alien civilization. action adventur fantasi sciencefict samworthington zoesaldana sigourneyweav jamescameron'

### Removing Stop Words from the Tags

In [73]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000, stop_words='english')

In [74]:
vectors = cv.fit_transform(new_df['tag']).toarray()

In [75]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [76]:
vectors[0]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [78]:
cv.get_feature_names()

['000',
 '007',
 '10',
 '100',
 '11',
 '12',
 '12th',
 '13',
 '14',
 '15',
 '150',
 '16',
 '17',
 '17th',
 '18',
 '1890',
 '18th',
 '19',
 '1920',
 '1930',
 '1930s',
 '1937',
 '1940',
 '1941',
 '1944',
 '1945',
 '1950',
 '1950s',
 '1955',
 '1959',
 '1960',
 '1960s',
 '1962',
 '1964',
 '1965',
 '1967',
 '1970',
 '1970s',
 '1971',
 '1972',
 '1973',
 '1974',
 '1976',
 '1977',
 '1979',
 '1980',
 '1980s',
 '1984',
 '1985',
 '1990',
 '1994',
 '1997',
 '1999',
 '19th',
 '20',
 '200',
 '2000',
 '2003',
 '2009',
 '20th',
 '21st',
 '23',
 '24',
 '25',
 '30',
 '300',
 '3d',
 '40',
 '50',
 '500',
 '60',
 '60s',
 '70',
 '80',
 'aaron',
 'aaroneckhart',
 'aarontaylor',
 'abandon',
 'abbi',
 'abduct',
 'abigailbreslin',
 'abil',
 'abl',
 'aboard',
 'abov',
 'abroad',
 'absolut',
 'abus',
 'academ',
 'academi',
 'academy',
 'accept',
 'access',
 'accid',
 'accident',
 'acclaim',
 'accompani',
 'accomplish',
 'account',
 'accus',
 'ace',
 'achiev',
 'acquaint',
 'acquir',
 'act',
 'action',
 'activ',
 'activist',
 'activities',
 'actor',
 'actress',
 'actual',
 'ad',
 'adam',
 'adammckay',
 'adamsandl',
 'adamshankman',
 'adapt',
 'add',
 'addict',
 'adjust',
 'admir',
 'admit',
 'adolesc',
 'adopt',
 'ador',
 'adrienbrodi',
 'adrift',
 'adult',
 'adulthood',
 'adults',
 'advanc',
 'advantag',
 'adventur',
 'adventure',
 'adventures',
 'advertis',
 'advic',
 'advis',
 'affair',
 'affect',
 'affluent',
 'afghanistan',
 'afraid',
 'africa',
 'african',
 'aftermath',
 'ag',
 'age',
 'agenc',
 'agency',
 'agenda',
 'agent',
 'agents',
 'aggress',
 'ago',
 'agre',
 'ahead',
 'aid',
 'aidanquinn',
 'ail',
 'aim',
 'air',
 'airborn',
 'aircraft',
 'airport',
 'aka',
 'al',
 'alabama',
 'alan',
 'alanarkin',
 'alaska',
 'alaskan',
 'albert',
 'albertbrook',
 'albertfinney',
 'alcohol',
 'alecbaldwin',
 'alejandrogonzÃ¡leziÃ±Ã¡rritu',
 'alex',
 'alexanderpayn',
 'alexanderskarsgÃ¥rd',
 'alexapenavega',
 'alexia',
 'alexisbledel',
 'alexkendrick',
 'alexpettyf',
 'alexproya',
 'alfi',
 'alfredhitchcock',
 'alfredmolina',
 'algeria',
 'ali',
 'alic',
 'alice',
 'alicebraga',
 'alien',
 'aliens',
 'alik',
 'aliv',
 'alive',
 'alleg',
 'allen',
 'alli',
 'allianc',
 'allies',
 'allow',
 'alon',
 'alongsid',
 'alpacino',
 'alpha',
 'alreadi',
 'alter',
 'altern',
 'alway',
 'alyssa',
 'alzheimer',
 'amanda',
 'amandabyn',
 'amandapeet',
 'amandaseyfri',
 'amateur',
 'amaz',
 'ambassador',
 'amberheard',
 'ambit',
 'ambiti',
 'ambush',
 'america',
 'american',
 'ami',
 'amid',
 'amidst',
 'amp',
 'amus',
 'amy',
 'amyadam',
 'amysmart',
 'ana',
 'anakin',
 'analyst',
 'ancient',
 'anderson',
 'andi',
 'andiemacdowel',
 'andrew',
 'andrewadamson',
 'andrewgarfield',
 'andrewniccol',
 'andrzejbartkowiak',
 'andy',
 'andyfickman',
 'andygarcÃ­a',
 'andyserki',
 'andytenn',
 'angel',
 'angela',
 'angelabassett',
 'angeles',
 'angelinajoli',
 'anger',
 'angle',
 'angri',
 'ani',
 'anim',
 'animals',
 'anjelicahuston',
 'ann',
 'anna',
 'annafari',
 'annakendrick',
 'anne',
 'annefletch',
 'annehathaway',
 'annehech',
 'annemoss',
 'annetteben',
 'anni',
 'annie',
 'anniversari',
 'announc',
 'annual',
 'anonym',
 'anoth',
 'answer',
 'answers',
 'ant',
 'anthoni',
 'anthonyanderson',
 'anthonyhopkin',
 'anthonymacki',
 'anti',
 'antic',
 'antiqu',
 'antoinefuqua',
 'anton',
 'antonio',
 'antoniobandera',
 'antonyelchin',
 'anyon',
 'anyth',
 'apart',
 'apartment',
 'ape',
 'apes',
 'apocalypse',
 'apocalypt',
 'appar',
 'appear',
 'appl',
 'apple',
 'appli',
 'appoint',
 'appreci',
 'apprehend',
 'apprentic',
 'approach',
 'approaches',
 'april',
 'arab',
 'arch',
 'archaeologist',
 'architect',
 'arctic',
 'area',
 'aren',
 'arena',
 'argument',
 'aris',
 'aristocrat',
 'arm',
 'armi',
 'armiehamm',
 'armor',
 'army',
 'arnold',
 'arnoldschwarzenegg',
 'arrang',
 'array',
 'arrest',
 'arriv',
 'arrives',
 'arrog',
 'art',
 'arthur',
 'articl',
 'artifici',
 'artist',
 'ash',
 'ashley',
 'ashleyjudd',
 'ashtonkutch',
 'asia',
 'asid',
 'ask',
 'aspect',
 'aspir',
 'assassin',
 'assault',
 'assembl',
 'assign',
 'assignment',
 'assist',
 'assistant',
 'associ',
 'assum',
 'astronaut',
 'asylum',
 'athlet',
 'atlant',
 'atom',
 'atomegoyan',
 'attack',
 'attacks',
 'attempt',
 'attend',
 'attent',
 'attitud',
 'attorney',
 'attract',
 'audienc',
 'audit',
 'audreytaut',
 'august',
 'aunt',
 'austin',
 'australia',
 'australian',
 'author',
 'auto',
 'autobiograph',
 'avail',
 'aveng',
 'averag',
 'avoid',
 'await',
 'awak',
 'awaken',
 'awar',
 'award',
 'away',
 'awesom',
 'awkward',
 'awri',
 'awry',
 'babe',
 'babi',
 'baby',
 'bachelor',
 'backdrop',
 'background',
 'backyard',
 'bad',
 'bag',
 'bail',
 'baker',
 'balanc',
 'ball',
 'ballet',
 'ban',
 'band',
 'bandit',
 'banish',
 'bank',
 'banker',
 'bar',
 'barbara',
 'barbrastreisand',
 'bare',
 'bargain',
 'barn',
 'barney',
 'baron',
 'barri',
 'barrier',
 'barry',
 'barrylevinson',
 'barrypepp',
 'barrysonnenfeld',
 'bars',
 'bas',
 'base',
 'basebal',
 'basement',
 'basketbal',
 'basketball',
 'batman',
 'battalion',
 'battl',
 'battle',
 'bay',
 'beach',
 'beam',
 'bear',
 'beast',
 'beat',
 'beaten',
 'beau',
 'beauti',
 'beautiful',
 'beauty',
 'becam',
 'becaus',
 'becki',
 'becom',
 'bed',
 'bedroom',
 'bee',
 'befor',
 'befriend',
 'beg',
 'began',
 'begin',
 'begins',
 'behavior',
 'belief',
 'beliefs',
 'believ',
 'bell',
 'bella',
 'belong',
 'belov',
 'ben',
 'benaffleck',
 'bend',
 'beneath',
 'benefit',
 'benfost',
 'beniciodeltoro',
 'benjamin',
 'benjaminbratt',
 'benkingsley',
 'bennett',
 'benstil',
 'bent',
 'berlin',
 'berniemac',
 'best',
 'bet',
 'beth',
 'betray',
 'betrayal',
 'bettemidl',
 'better',
 'betti',
 'bettythoma',
 'beverli',
 'biblic',
 'bid',
 'big',
 'bigger',
 'biggest',
 'bike',
 'biker',
 'bilbo',
 'billcondon',
 'billhad',
 'billi',
 'billion',
 'billionair',
 'billmoseley',
 'billmurray',
 'billnighi',
 'billpaxton',
 'billpullman',
 'billybobthornton',
 'billyconnolli',
 'billycrudup',
 'billycryst',
 'bind',
 'biograph',
 'biographi',
 'biolog',
 'biologist',
 'biopic',
 'bird',
 'birth',
 'birthday',
 'bishop',
 'bit',
 'bitter',
 'bizarr',
 'black',
 'blackmail',
 'blade',
 'blame',
 'blaze',
 'blend',
 'bless',
 'blind',
 'bliss',
 'block',
 'blood',
 'bloodi',
 'bloodthirsti',
 'bloom',
 'blossom',
 'blow',
 'blu',
 'blue',
 'board',
 'boat',
 'bob',
 'bobbi',
 'bobbyfarrelli',
 'bobhoskin',
 'bodi',
 'body',
 'bodyguard',
 'bold',
 'bomb',
 'bond',
 'bone',
 'bonniehunt',
 'book',
 'border',
 'bore',
 'boring',
 'born',
 'boss',
 'boston',
 'botch',
 'bound',
 'boundari',
 'bounti',
 'bout',
 'box',
 'boxer',
 'boy',
 'boyd',
 'boyfriend',
 'boys',
 'brad',
 'bradleycoop',
 'bradpitt',
 'brain',
 'brand',
 'brandon',
 'brave',
 'brazil',
 'break',
 'breakdown',
 'breakup',
 'breath',
 'breed',
 'brendanfras',
 'brendangleeson',
 'brent',
 'brettratn',
 'brian',
 'briandepalma',
 'brianlev',
 'brianrobbin',
 'bride',
 'bridg',
 'brief',
 'brielarson',
 'brien',
 'bright',
 'brilliant',
 'bring',
 'brink',
 'britain',
 'british',
 'brittanymurphi',
 'broadcast',
 'broadway',
 'broke',
 'broken',
 'brook',
 'brooklyn',
 'brother',
 'brothers',
 'brought',
 'brown',
 'bruce',
 'brucecampbel',
 'brucegreenwood',
 'brucewilli',
 'brutal',
 'bryancranston',
 'bryansing',
 'bu',
 'buck',
 'bud',
 'buddi',
 'buddy',
 'budget',
 'build',
 'building',
 'built',
 'bullet',
 'bulli',
 'bumbl',
 'bunch',
 'buri',
 'burn',
 'burtreynold',
 'bush',
 'busi',
 'business',
 'businessman',
 'bust',
 'butch',
 'butcher',
 'butler',
 'butt',
 'buy',
 'buzz',
 'cabin',
 'caesar',
 'cain',
 'cal',
 'caleb',
 'california',
 'calm',
 'calvin',
 'came',
 'camera',
 'cameraman',
 'cameron',
 'cameroncrow',
 'camerondiaz',
 'camgigandet',
 'camp',
 'campaign',
 'campbel',
 'campbell',
 'campbellscott',
 'campu',
 'canada',
 'canadian',
 'cancer',
 'candid',
 'canin',
 'capabl',
 'capit',
 'capt',
 'captain',
 'captiv',
 'captur',
 'capture',
 'car',
 'card',
 'care',
 'career',
 'carefre',
 'careymulligan',
 'cargo',
 'caribbean',
 'carl',
 'carlagugino',
 'carlo',
 'carmen',
 'carol',
 'carolina',
 'carri',
 'carrie',
 'carriefish',
 'cartel',
 'carter',
 'caryelw',
 'case',
 'caseyaffleck',
 'cash',
 'casino',
 'cast',
 'castl',
 'castle',
 'cat',
 'catastroph',
 'catch',
 'cateblanchett',
 'catherin',
 'catherinedeneuv',
 'catherinehardwick',
 'catherinekeen',
 'catherinezeta',
 'cathol',
 'cattl',
 'caught',
 'caus',
 'cause',
 'cave',
 'cedrictheentertain',
 'celebr',
 'celebration',
 'cell',
 'center',
 'centr',
 'central',
 'centuri',
 'centuries',
 'century',
 'ceo',
 'certain',
 'chad',
 'chain',
 'challeng',
 'chamber',
 'champion',
 'championship',
 'chanc',
 'chance',
 'chang',
 'change',
 'changed',
 'changes',
 'channel',
 'channingtatum',
 'chao',
 'chaos',
 'chaotic',
 'chapter',
 'charact',
 'character',
 'characters',
 'charg',
 'charismat',
 'charl',
 'charless',
 'charli',
 'charlie',
 'charliesheen',
 'charlizetheron',
 'charlott',
 'charm',
 'chart',
 'chase',
 'chazzpalminteri',
 'cheat',
 'check',
 'cheerlead',
 'chef',
 'chemic',
 'cher',
 'chevychas',
 'chicago',
 'chicken',
 'chief',
 'child',
 'childhood',
 'children',
 'chill',
 'china',
 'chines',
 'chip',
 'chiwetelejiofor',
 'chloe',
 'chloÃ«gracemoretz',
 'chloÃ«sevigni',
 'choic',
 'choice',
 'chon',
 'choos',
 'chosen',
 'chowyun',
 'chri',
 'chriscolumbu',
 'chriscoop',
 'chrisevan',
 'chrishemsworth',
 'chrisklein',
 'chrispin',
 'chrisrock',
 'christ',
 'christian',
 'christianbal',
 'christianslat',
 'christin',
 'christinaappleg',
 'christinaricci',
 'christma',
 'christmas',
 'christoph',
 'christopherguest',
 'christopherlambert',
 'christopherlloyd',
 'christophernolan',
 'christopherplumm',
 'christopherwalken',
 'christophwaltz',
 'chrisweitz',
 'chronicl',
 'chuck',
 'chuckrussel',
 'church',
 'cia',
 'ciarÃ¡nhind',
 'cillianmurphi',
 'cindi',
 'cinema',
 'circl',
 'circle',
 'circu',
 'circuit',
 'circumst',
 'circumstances',
 'citi',
 'citizen',
 'city',
 'civil',
 'civilian',
 'civilization',
 'claim',
 'clair',
 'clairedan',
 'claireforlani',
 'clan',
 'clark',
 'clash',
 'class',
 'classic',
 'classmat',
 'claudevandamm',
 'clay',
 'clean',
 'clear',
 'clerk',
 'client',
 'clients',
 'climat',
 'climb',
 'clinteastwood',
 'cliveowen',
 'clock',
 'clone',
 'close',
 'closer',
 'cloud',
 'club',
 'clue',
 'clueless',
 'clutch',
 'coach',
 'coast',
 'coastal',
 'cocain',
 'cocki',
 'code',
 'codi',
 'cohen',
 'col',
 'cold',
 'cole',
 'colehaus',
 'colin',
 'colinfarrel',
 'colinfirth',
 'collaps',
 'collapse',
 'colleagu',
 'colleague',
 'collect',
 'collector',
 'colleg',
 'college',
 'collid',
 'collide',
 'collis',
 'colon',
 'colonel',
 'coloni',
 'color',
 'colorado',
 'coma',
 'combat',
 'combin',
 'come',
 'comeback',
 'comed',
 'comedi',
 'comedian',
 'comedy',
 'comfort',
 'comic',
 'coming',
 'command',
 'commerci',
 'commiss',
 'commit',
 'common',
 'commun',
 'communist',
 'community',
 'compani',
 'companion',
 'company',
 'compet',
 'competit',
 'competition',
 'complet',
 'complex',
 'complic',
 'compos',
 'compound',
 'compromis',
 'compton',
 'compuls',
 'comput',
 'computer',
 'conan',
 'concern',
 'concert',
 'concoct',
 'condit',
 'condition',
 'conduct',
 'confid',
 'confin',
 'conflict',
 'confront',
 'confus',
 'connect',
 'connecticut',
 'connel',
 'conni',
 'connienielsen',
 'connor',
 'conquer',
 'conrad',
 'conscience',
 'consequ',
 'consequences',
 'conserv',
 'consid',
 'conspir',
 'conspiraci',
 'conspiracy',
 'constant',
 'constantli',
 'construct',
 'consum',
 'contact',
 'contain',
 'contempl',
 'contemporari',
 'contend',
 'content',
 'contest',
 ...]

In [79]:
vectors.shape

(4806, 5000)

### Finding Similarities using Cosine_Similarity

In [80]:
# Now Measuring Cosine Distance
# Using Cosine Similarities
from sklearn.metrics.pairwise import cosine_similarity

In [83]:
cosine_similarity(vectors).shape

(4806, 4806)

In [84]:
similarity = cosine_similarity(vectors)

In [88]:
similarity[0]

array([1.        , 0.13957263, 0.08206099, ..., 0.        , 0.        ,
       0.        ])

In [102]:
sorted(list(enumerate(similarity[6])), reverse=True, key=lambda x:x[1])

[(6, 1.0),
 (2315, 0.19090088708030312),
 (1990, 0.15152288168283162),
 (255, 0.14920941939059815),
 (2645, 0.14754222271266348),
 (2786, 0.14754222271266348),
 (39, 0.14699878726500756),
 (67, 0.14699878726500756),
 (506, 0.14285714285714285),
 (1438, 0.14285714285714285),
 (55, 0.14175398238766682),
 (2402, 0.1349873117890097),
 (393, 0.13263952726932277),
 (330, 0.13109470506889243),
 (182, 0.13071306028508972),
 (251, 0.1292191476761844),
 (2925, 0.12777531299998798),
 (2970, 0.12777531299998798),
 (734, 0.1263788195613404),
 (4264, 0.12626906806902632),
 (54, 0.12371791482634839),
 (3764, 0.12073632210407378),
 (615, 0.11915109374689986),
 (3907, 0.11587244366483038),
 (160, 0.11470786693528087),
 (34, 0.11454053224818188),
 (194, 0.11454053224818188),
 (256, 0.11454053224818188),
 (381, 0.11454053224818188),
 (2278, 0.11454053224818188),
 (86, 0.11437725271791938),
 (1626, 0.11428571428571428),
 (106, 0.1129384878631564),
 (1600, 0.1129384878631564),
 (2686, 0.1129384878631564),
 (390, 0.11206636293610517),
 (429, 0.11206636293610517),
 (538, 0.11206636293610517),
 (4196, 0.11206636293610517),
 (1367, 0.11155268706329005),
 (3077, 0.11065666703449761),
 (4642, 0.11065666703449761),
 (1252, 0.108857251714449),
 (1104, 0.10714285714285714),
 (1416, 0.10714285714285714),
 (3721, 0.10714285714285714),
 (3946, 0.10714285714285714),
 (1418, 0.10647942749999),
 (87, 0.1061116218154582),
 (414, 0.1061116218154582),
 (550, 0.1061116218154582),
 (1682, 0.1061116218154582),
 (4063, 0.10531568296778365),
 (741, 0.1043281061914602),
 (509, 0.10418927964135324),
 (1155, 0.10418927964135324),
 (88, 0.10394383930128556),
 (2122, 0.10394383930128556),
 (3001, 0.10394383930128556),
 (4010, 0.10394383930128556),
 (525, 0.10263160115815709),
 (2631, 0.10263160115815709),
 (4775, 0.10263160115815709),
 (533, 0.10101525445522108),
 (546, 0.10101525445522108),
 (1231, 0.10101525445522108),
 (1476, 0.10101525445522108),
 (1520, 0.10101525445522108),
 (2218, 0.10101525445522108),
 (3584, 0.10101525445522108),
 (4463, 0.10101525445522108),
 (4472, 0.10101525445522108),
 (4673, 0.10101525445522108),
 (558, 0.10101525445522105),
 (704, 0.10101525445522105),
 (1440, 0.10101525445522105),
 (4624, 0.10101525445522105),
 (4636, 0.10101525445522105),
 (286, 0.1000200060020007),
 (1593, 0.1000200060020007),
 (42, 0.09947294626039876),
 (3140, 0.09947294626039876),
 (269, 0.09832102880166932),
 (564, 0.09832102880166932),
 (1365, 0.09832102880166932),
 (1662, 0.09832102880166932),
 (3780, 0.09832102880166932),
 (4482, 0.09832102880166932),
 (1297, 0.09799919151000504),
 (3452, 0.09799919151000504),
 (180, 0.09658905768325902),
 (187, 0.09658905768325902),
 (399, 0.09658905768325902),
 (1708, 0.09658905768325902),
 (1936, 0.09658905768325902),
 (2916, 0.09658905768325902),
 (1431, 0.09583148474999098),
 (1458, 0.09583148474999098),
 (1886, 0.09583148474999098),
 (2550, 0.09583148474999098),
 (3610, 0.09583148474999098),
 (3731, 0.09545044354015156),
 (164, 0.09523809523809523),
 (3037, 0.09523809523809523),
 (3888, 0.09523809523809523),
 (4538, 0.09523809523809523),
 (565, 0.09460945407607455),
 (896, 0.09460945407607455),
 (339, 0.09394227846020416),
 (587, 0.09394227846020416),
 (1198, 0.09394227846020416),
 (1293, 0.09394227846020416),
 (1751, 0.09379030918551609),
 (3298, 0.09379030918551609),
 (144, 0.09352195295828244),
 (604, 0.09352195295828244),
 (1044, 0.09352195295828244),
 (1451, 0.09269795493186431),
 (2998, 0.0916698497028211),
 (139, 0.0915018021743355),
 (3285, 0.0915018021743355),
 (3416, 0.0915018021743355),
 (275, 0.09137173558097589),
 (358, 0.09137173558097589),
 (488, 0.09137173558097589),
 (686, 0.09137173558097589),
 (1036, 0.09137173558097589),
 (3195, 0.09137173558097589),
 (3674, 0.09137173558097589),
 (3825, 0.09035079029052512),
 (476, 0.0893633203101749),
 (539, 0.0893633203101749),
 (562, 0.0893633203101749),
 (934, 0.0893633203101749),
 (952, 0.0893633203101749),
 (1364, 0.0893633203101749),
 (2996, 0.0893633203101749),
 (2063, 0.08924214965063204),
 (2596, 0.08924214965063204),
 (3042, 0.08924214965063204),
 (13, 0.08924214965063203),
 (2477, 0.08817334283548109),
 (154, 0.08748177652797065),
 (742, 0.08748177652797065),
 (931, 0.08748177652797065),
 (1032, 0.08748177652797065),
 (1469, 0.08748177652797065),
 (1471, 0.08748177652797065),
 (1658, 0.08748177652797065),
 (2976, 0.08748177652797065),
 (3133, 0.08748177652797065),
 (169, 0.0871420401900598),
 (2445, 0.0861460984507896),
 (3454, 0.0861460984507896),
 (196, 0.08571428571428572),
 (325, 0.08571428571428572),
 (899, 0.08571428571428572),
 (1843, 0.08571428571428572),
 (3530, 0.08571428571428572),
 (4652, 0.08571428571428572),
 (364, 0.085183541999992),
 (2049, 0.08512565307587486),
 (479, 0.08477011844241808),
 (777, 0.08425254637422692),
 (1457, 0.08425254637422692),
 (1561, 0.08425254637422692),
 (3017, 0.08425254637422692),
 (152, 0.08404977220207888),
 (352, 0.08404977220207888),
 (614, 0.08404977220207888),
 (920, 0.08404977220207888),
 (1243, 0.08404977220207888),
 (1295, 0.08404977220207888),
 (1404, 0.08404977220207888),
 (1423, 0.08404977220207888),
 (1490, 0.08404977220207888),
 (2188, 0.08404977220207888),
 (2810, 0.08404977220207888),
 (3376, 0.08404977220207888),
 (4786, 0.08360081942580755),
 (447, 0.0833514237130826),
 (1223, 0.0833514237130826),
 (2782, 0.0833514237130826),
 (2190, 0.08303402767415662),
 (177, 0.08247860988423227),
 (674, 0.08247860988423227),
 (3720, 0.08247860988423227),
 (4405, 0.08247860988423227),
 (4641, 0.08247860988423227),
 (430, 0.08247860988423225),
 (597, 0.08247860988423225),
 (3934, 0.08247860988423225),
 (4274, 0.08247860988423225),
 (467, 0.08163265306122448),
 (732, 0.08163265306122448),
 (3193, 0.08099238707340584),
 (167, 0.08099238707340582),
 (805, 0.08099238707340582),
 (3549, 0.08099238707340582),
 (403, 0.08081220356417686),
 (2470, 0.08081220356417686),
 (3407, 0.08081220356417686),
 (3951, 0.07992898356345547),
 (294, 0.07958371636159366),
 (807, 0.07958371636159366),
 (894, 0.07958371636159366),
 (2151, 0.07958371636159366),
 (151, 0.07924288517503274),
 (458, 0.07924288517503274),
 (1783, 0.07924288517503274),
 (1862, 0.07924288517503274),
 (2585, 0.07924288517503274),
 (3210, 0.07924288517503274),
 (4563, 0.07924288517503274),
 (2549, 0.0784917508278223),
 (268, 0.07824607964359515),
 (328, 0.07824607964359515),
 (503, 0.07824607964359515),
 (922, 0.07824607964359515),
 (1519, 0.07824607964359515),
 (2060, 0.07824607964359515),
 (2300, 0.07824607964359515),
 (2357, 0.07824607964359515),
 (3526, 0.07824607964359515),
 (3956, 0.07824607964359515),
 (4055, 0.07824607964359515),
 (950, 0.07776157913597391),
 (224, 0.07705141285294195),
 (2491, 0.07705141285294195),
 (4381, 0.07705141285294195),
 (311, 0.07697370086861782),
 (603, 0.07697370086861782),
 (678, 0.07697370086861782),
 (766, 0.07697370086861782),
 (1701, 0.07697370086861782),
 (2495, 0.07697370086861782),
 (494, 0.07636035483212125),
 (1202, 0.07636035483212125),
 (1437, 0.07636035483212125),
 (1444, 0.07636035483212125),
 (1989, 0.07636035483212125),
 (2213, 0.07636035483212125),
 (2472, 0.07636035483212125),
 (2685, 0.07636035483212125),
 (3363, 0.07636035483212125),
 (3374, 0.07636035483212125),
 (3529, 0.07636035483212125),
 (3949, 0.07636035483212125),
 (3966, 0.07636035483212125),
 (4110, 0.0757614408414158),
 (130, 0.07576144084141578),
 (996, 0.07576144084141578),
 (1623, 0.07576144084141578),
 (1733, 0.07568756326085964),
 (1463, 0.07503224734841288),
 (4751, 0.07503224734841288),
 (96, 0.07460470969529907),
 (394, 0.07460470969529907),
 (631, 0.07460470969529907),
 (1514, 0.07460470969529907),
 (2276, 0.07460470969529907),
 (3902, 0.07460470969529907),
 (4558, 0.07460470969529907),
 (189, 0.07377111135633174),
 (216, 0.07377111135633174),
 (218, 0.07377111135633174),
 (504, 0.07377111135633174),
 (774, 0.07377111135633174),
 (776, 0.07377111135633174),
 (1201, 0.07377111135633174),
 (2023, 0.07377111135633174),
 (2590, 0.07377111135633174),
 (2675, 0.07377111135633174),
 (4072, 0.07377111135633174),
 (4737, 0.07377111135633174),
 (4742, 0.07377111135633174),
 (163, 0.07349939363250378),
 (528, 0.07349939363250378),
 (1098, 0.07349939363250378),
 (1831, 0.07349939363250378),
 (2450, 0.07349939363250378),
 (4343, 0.07349939363250378),
 (4584, 0.07349939363250378),
 (985, 0.07290148043997555),
 (318, 0.072571501142966),
 (99, 0.07244179326244427),
 (291, 0.07244179326244427),
 (453, 0.07244179326244427),
 (508, 0.07244179326244427),
 (689, 0.07244179326244427),
 (1676, 0.07244179326244427),
 (2056, 0.07244179326244427),
 (2162, 0.07244179326244427),
 (3300, 0.07244179326244427),
 (3, 0.07199323295413851),
 (44, 0.07142857142857142),
 (118, 0.07142857142857142),
 (168, 0.07142857142857142),
 (178, 0.07142857142857142),
 (184, 0.07142857142857142),
 (301, 0.07142857142857142),
 (459, 0.07142857142857142),
 (695, 0.07142857142857142),
 (1323, 0.07142857142857142),
 (1539, 0.07142857142857142),
 (1789, 0.07142857142857142),
 (1850, 0.07142857142857142),
 (1956, 0.07142857142857142),
 (2223, 0.07142857142857142),
 (2332, 0.07142857142857142),
 (2621, 0.07142857142857142),
 (3527, 0.07142857142857142),
 (3567, 0.07142857142857142),
 (3648, 0.07142857142857142),
 (3824, 0.07142857142857142),
 (4018, 0.07142857142857142),
 (4444, 0.07142857142857142),
 (4557, 0.07142857142857142),
 (3583, 0.07087699119383341),
 (9, 0.07045670884515312),
 (464, 0.07045670884515312),
 (1675, 0.07038066272602093),
 (1898, 0.07033799484533299),
 (127, 0.06981111106074583),
 (3670, 0.06975329646609937),
 (262, 0.06952346619889824),
 (1485, 0.06952346619889824),
 (1739, 0.06952346619889824),
 (1771, 0.06952346619889824),
 (1801, 0.06952346619889824),
 (2352, 0.06952346619889824),
 (2438, 0.06952346619889824),
 (3102, 0.06952346619889824),
 (3879, 0.06952346619889824),
 (4459, 0.06952346619889824),
 (435, 0.0692958928675237),
 (465, 0.0692958928675237),
 (561, 0.0692958928675237),
 (810, 0.0692958928675237),
 (866, 0.0692958928675237),
 (995, 0.0692958928675237),
 (1076, 0.0692958928675237),
 (1156, 0.0692958928675237),
 (1502, 0.0692958928675237),
 (2127, 0.0692958928675237),
 (2299, 0.0692958928675237),
 (2338, 0.0692958928675237),
 (2406, 0.0692958928675237),
 (2778, 0.0692958928675237),
 (3157, 0.0692958928675237),
 (3972, 0.0692958928675237),
 (4040, 0.0692958928675237),
 (4198, 0.0692958928675237),
 (4535, 0.0692958928675237),
 (569, 0.06862635163075162),
 (2408, 0.06862635163075162),
 (3580, 0.06862635163075162),
 (3616, 0.06862635163075162),
 (3737, 0.06862635163075162),
 (4260, 0.06862635163075162),
 (2386, 0.06829877767625106),
 (221, 0.06776309271789384),
 (225, 0.06776309271789384),
 (1030, 0.06776309271789384),
 (1957, 0.06776309271789384),
 (2740, 0.06776309271789384),
 (3091, 0.06776309271789384),
 (3545, 0.06776309271789384),
 (81, 0.06734350297014739),
 (157, 0.06734350297014739),
 (172, 0.06734350297014739),
 (179, 0.06734350297014739),
 (308, 0.06734350297014739),
 (626, 0.06734350297014739),
 (744, 0.06734350297014739),
 (989, 0.06734350297014739),
 (1147, 0.06734350297014739),
 (1189, 0.06734350297014739),
 (1381, 0.06734350297014739),
 (2270, 0.06734350297014739),
 (2848, 0.06734350297014739),
 (2919, 0.06734350297014739),
 (3088, 0.06734350297014739),
 (3242, 0.06734350297014739),
 (3356, 0.06734350297014739),
 (3558, 0.06734350297014739),
 (4056, 0.06734350297014739),
 (4211, 0.06734350297014739),
 (4653, 0.06734350297014739),
 (4656, 0.06734350297014739),
 (137, 0.06719434774168552),
 (124, 0.06693161223797403),
 (173, 0.06693161223797403),
 (234, 0.06693161223797403),
 (4480, 0.06693161223797403),
 (4255, 0.06693161223797402),
 (3481, 0.0664272221393253),
 (3377, 0.06631976363466138),
 (213, 0.06613000712661082),
 (514, 0.06613000712661082),
 (1357, 0.06613000712661082),
 (1369, 0.06613000712661082),
 (1432, 0.06613000712661082),
 (1692, 0.06613000712661082),
 (2467, 0.06613000712661082),
 (770, 0.06613000712661081),
 (205, 0.06554735253444621),
 (209, 0.06554735253444621),
 (259, 0.06554735253444621),
 (276, 0.06554735253444621),
 (288, 0.06554735253444621),
 (762, 0.06554735253444621),
 (858, 0.06554735253444621),
 (1055, 0.06554735253444621),
 (1062, 0.06554735253444621),
 (1065, 0.06554735253444621),
 (1208, 0.06554735253444621),
 (1288, 0.06554735253444621),
 (1294, 0.06554735253444621),
 (1525, 0.06554735253444621),
 (1527, 0.06554735253444621),
 (1770, 0.06554735253444621),
 (2737, 0.06554735253444621),
 (2901, 0.06554735253444621),
 (3055, 0.06554735253444621),
 (3063, 0.06554735253444621),
 (3347, 0.06554735253444621),
 (4331, 0.06554735253444621),
 (4542, 0.06554735253444621),
 (4691, 0.06554735253444621),
 (563, 0.06535653014254486),
 (3147, 0.06535653014254486),
 (4129, 0.06520506636966263),
 (2832, 0.06470154480826261),
 (930, 0.06460957383809221),
 (942, 0.06460957383809221),
 (1729, 0.06460957383809221),
 (2209, 0.06460957383809221),
 (2366, 0.06460957383809221),
 (2978, 0.06460957383809221),
 (2992, 0.06460957383809221),
 (3012, 0.06460957383809221),
 (3592, 0.06460957383809221),
 (4644, 0.06460957383809221),
 (56, 0.06388765649999399),
 (57, 0.06388765649999399),
 (141, 0.06388765649999399),
 (228, 0.06388765649999399),
 (613, 0.06388765649999399),
 (918, 0.06388765649999399),
 (1061, 0.06388765649999399),
 (1267, 0.06388765649999399),
 (1305, 0.06388765649999399),
 (1327, 0.06388765649999399),
 (1677, 0.06388765649999399),
 (1795, 0.06388765649999399),
 (1891, 0.06388765649999399),
 (1904, 0.06388765649999399),
 (2202, 0.06388765649999399),
 (2241, 0.06388765649999399),
 (2395, 0.06388765649999399),
 (2592, 0.06388765649999399),
 (2808, 0.06388765649999399),
 (2869, 0.06388765649999399),
 (3016, 0.06388765649999399),
 (3250, 0.06388765649999399),
 (3336, 0.06388765649999399),
 (3420, 0.06388765649999399),
 (3467, 0.06388765649999399),
 (4596, 0.06388765649999399),
 (4688, 0.06388765649999399),
 (170, 0.0631894097806702),
 (812, 0.0631894097806702),
 (1857, 0.0631894097806702),
 (2344, 0.0631894097806702),
 (2448, 0.0631894097806702),
 (3044, 0.0631894097806702),
 (939, 0.06272243427982305),
 (377, 0.06251356778481196),
 (529, 0.06251356778481196),
 (531, 0.06251356778481196),
 (1095, 0.06251356778481196),
 (2903, 0.06251356778481196),
 (90, 0.062347968638854966),
 (104, 0.062347968638854966),
 (122, 0.062347968638854966),
 (263, 0.062347968638854966),
 (356, 0.062347968638854966),
 (452, 0.062347968638854966),
 (1052, 0.062347968638854966),
 (1681, 0.062347968638854966),
 (1713, 0.062347968638854966),
 (1833, 0.062347968638854966),
 (1971, 0.062347968638854966),
 (2355, 0.062347968638854966),
 (2447, 0.062347968638854966),
 (2707, 0.062347968638854966),
 (2751, 0.062347968638854966),
 (2847, 0.062347968638854966),
 (3004, 0.062347968638854966),
 (3224, 0.062347968638854966),
 (3264, 0.062347968638854966),
 (3403, 0.062347968638854966),
 (299, 0.061858957413174195),
 (698, 0.061858957413174195),
 (874, 0.061858957413174195),
 (1639, 0.061858957413174195),
 (1704, 0.061858957413174195),
 (2358, 0.061858957413174195),
 (820, 0.06126357341930256),
 (58, 0.061224489795918366),
 (1598, 0.061224489795918366),
 (0, 0.060914490387317256),
 (237, 0.060914490387317256),
 (368, 0.060914490387317256),
 (404, 0.060914490387317256),
 (433, 0.060914490387317256),
 (668, 0.060914490387317256),
 (700, 0.060914490387317256),
 (772, 0.060914490387317256),
 (980, 0.060914490387317256),
 (1292, 0.060914490387317256),
 (1726, 0.060914490387317256),
 (1860, 0.060914490387317256),
 (1976, 0.060914490387317256),
 (2378, 0.060914490387317256),
 (2396, 0.060914490387317256),
 (2443, 0.060914490387317256),
 (2615, 0.060914490387317256),
 (2683, 0.060914490387317256),
 (2806, 0.060914490387317256),
 (3839, 0.060914490387317256),
 (4355, 0.060914490387317256),
 (4361, 0.060914490387317256),
 (4604, 0.060914490387317256),
 (1874, 0.060609152673132646),
 (3881, 0.060609152673132646),
 (4317, 0.060609152673132646),
 (518, 0.06001200360120042),
 (1547, 0.06001200360120042),
 (1659, 0.06001200360120042),
 (2191, 0.06001200360120042),
 (128, 0.05957554687344993),
 (348, 0.05957554687344993),
 (359, 0.05957554687344993),
 (449, 0.05957554687344993),
 (606, 0.05957554687344993),
 (707, 0.05957554687344993),
 (1058, 0.05957554687344993),
 (1085, 0.05957554687344993),
 (1194, 0.05957554687344993),
 (1304, 0.05957554687344993),
 (1374, 0.05957554687344993),
 (2067, 0.05957554687344993),
 (2171, 0.05957554687344993),
 (2638, 0.05957554687344993),
 (3085, 0.05957554687344993),
 (3277, 0.05957554687344993),
 (3842, 0.05957554687344993),
 (3867, 0.05957554687344993),
 (3901, 0.05957554687344993),
 (3982, 0.05957554687344993),
 (4290, 0.05957554687344993),
 (4578, 0.05957554687344993),
 (4683, 0.05957554687344993),
 (1462, 0.05943216388127455),
 (2080, 0.05943216388127455),
 (3522, 0.05943216388127455),
 (1855, 0.058868813120866725),
 (2838, 0.058868813120866725),
 (4207, 0.058868813120866725),
 (4798, 0.058868813120866725),
 (138, 0.058321184351980436),
 (293, 0.058321184351980436),
 (769, 0.058321184351980436),
 (818, 0.058321184351980436),
 (1158, 0.058321184351980436),
 (1199, 0.058321184351980436),
 (1217, 0.058321184351980436),
 (1241, 0.058321184351980436),
 (1274, 0.058321184351980436),
 (1280, 0.058321184351980436),
 (1657, 0.058321184351980436),
 (1866, 0.058321184351980436),
 (2047, 0.058321184351980436),
 (2110, 0.058321184351980436),
 (2588, 0.058321184351980436),
 (2816, 0.058321184351980436),
 (2843, 0.058321184351980436),
 (3213, 0.058321184351980436),
 (3770, 0.058321184351980436),
 (3851, 0.058321184351980436),
 (4490, 0.058321184351980436),
 (4669, 0.058321184351980436),
 (4717, 0.058321184351980436),
 (491, 0.05832118435198043),
 (555, 0.058019780864778235),
 (355, 0.057788559639706465),
 (1459, 0.057788559639706465),
 (1772, 0.057788559639706465),
 (4178, 0.057788559639706465),
 (48, 0.05727026612409094),
 (471, 0.05727026612409094),
 (198, 0.05714285714285714),
 (202, 0.05714285714285714),
 (266, 0.05714285714285714),
 (292, 0.05714285714285714),
 (389, 0.05714285714285714),
 (392, 0.05714285714285714),
 (400, 0.05714285714285714),
 (634, 0.05714285714285714),
 (708, 0.05714285714285714),
 (825, 0.05714285714285714),
 (972, 0.05714285714285714),
 (1086, 0.05714285714285714),
 (1142, 0.05714285714285714),
 (1368, 0.05714285714285714),
 (1388, 0.05714285714285714),
 (1434, 0.05714285714285714),
 (2075, 0.05714285714285714),
 (2120, 0.05714285714285714),
 (2501, 0.05714285714285714),
 (2538, 0.05714285714285714),
 (2562, 0.05714285714285714),
 (2817, 0.05714285714285714),
 (2826, 0.05714285714285714),
 (2868, 0.05714285714285714),
 (3841, 0.05714285714285714),
 (3857, 0.05714285714285714),
 (4511, 0.05714285714285714),
 (4579, 0.05714285714285714),
 (4752, 0.05714285714285714),
 (578, 0.05676567244564473),
 (842, 0.05676567244564473),
 (1111, 0.05676567244564473),
 (4043, 0.05676567244564473),
 (3212, 0.05664654183701029),
 (2168, 0.056579859598667105),
 (982, 0.05627418551130966),
 (1277, 0.05627418551130966),
 (1876, 0.05627418551130966),
 (3524, 0.05627418551130966),
 (4466, 0.05627418551130966),
 (120, 0.056033181468052584),
 (236, 0.056033181468052584),
 (326, 0.056033181468052584),
 (784, 0.056033181468052584),
 (828, 0.056033181468052584),
 (1047, 0.056033181468052584),
 (1234, 0.056033181468052584),
 (1316, 0.056033181468052584),
 (1383, 0.056033181468052584),
 (1420, 0.056033181468052584),
 (1486, 0.056033181468052584),
 (1602, 0.056033181468052584),
 (1640, 0.056033181468052584),
 (2349, 0.056033181468052584),
 (2851, 0.056033181468052584),
 (3256, 0.056033181468052584),
 (3626, 0.056033181468052584),
 (1775, 0.055795247563210235),
 (4647, 0.055795247563210235),
 (391, 0.05532833351724881),
 (607, 0.05532833351724881),
 (1509, 0.05532833351724881),
 (219, 0.0549857399228215),
 (257, 0.0549857399228215),
 (837, 0.0549857399228215),
 (973, 0.0549857399228215),
 (976, 0.0549857399228215),
 (1096, 0.0549857399228215),
 (1661, 0.0549857399228215),
 (1688, 0.0549857399228215),
 (1717, 0.0549857399228215),
 (1946, 0.0549857399228215),

In [95]:
sorted(list(enumerate(similarity[2])), reverse=True, key=lambda x:x[1])[1:6]

[(11, 0.3442651863295482),
 (1346, 0.3285091522175248),
 (4077, 0.30242156957551825),
 (29, 0.29643243059996244),
 (3166, 0.2501595914621521)]

In [114]:
def recommend(movie):
    movie_index = new_df[new_df['title'] == movie].index[0]
    distances = similarity[movie_index]
    
    movies_list = sorted(list(enumerate(distances)), reverse=True, key=lambda x:x[1])[1:6]
    
    for i in movies_list:
        print(new_df.iloc[i[0]].title)

In [143]:
recommend('Iron Man')

Iron Man 3
Iron Man 2
Avengers: Age of Ultron
The Helix... Loaded
Teenage Mutant Ninja Turtles II: The Secret of the Ooze

In [136]:
for i in new_df['title'] == 'The Wolverine':
    if i == 1:
        print(new_df.index[i])

[[   0    1    2 ... 4806 4807 4808]]

### Dumping The Data in pkl format!

In [138]:
import pickle

In [140]:
pickle.dump(new_df.to_dict(), open('movies_dict.pkl', 'wb'))

In [144]:
pickle.dump(similarity, open('similarity.pkl', 'wb'))